@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        Hello MVC (from View)1
        <br> @ViewBag.Greeting <br /> <!-- Dynamic Property -->
         <br> @ViewBag.Darie <br />
        @Html.ActionLink("RSVP", "RSVP") <!-- Create links -->
        
    </div>
</body>
</html>
